.tileOwner {
    background: url(../map/ui/title-background-1.png) 0 0 / 100%;
    min-width: 100px;
    min-height: 28px;
    text-transform: uppercase;
    position: relative;
}
.tileOwner > div:first-child {
    line-height: 28px;
    font-size: 14px;
    text-align: center;
}
.tileOwner > div:last-child {
    position: absolute;
    width: 32px;
    height: 32px;
    line-height: 35px;
    font-size: 15px;
    right: -17px;
    top: -3px;
    background: url(../map/ui/units-background-1.png) 0 0 / 100%;

    text-align: center;
}
.tileOwner.neutral {
    background-image: url(../map/ui/title-background-0.png);
}
.tileOwner.neutral > div:last-child {
    display: none;
}

.tileOwner.player {
    background-image: url(../map/ui/title-background-1.png);
}
.tileOwner.player > div:last-child {
    background-image: url(../map/ui/units-background-1.png);
}

.tileOwner.enemy {
    background-image: url(../map/ui/title-background-2.png);
}
.tileOwner.enemy > div:last-child {
    background-image: url(../map/ui/units-background-2.png);
}

.recruitmentPower {
    text-align: center;
    padding-top: 5px;
}
.recruitmentPower > div {
    display: inline-block;
    font-size: 26px;
    background: url(../map/ui/power-icon.png) no-repeat left 5px / auto 20px;
    padding-left: 15px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
}
.troopsUnits {
    width: 32px;
    height: 32px;
    line-height: 35px;
    font-size: 15px;
    background: url(../map/ui/units-background-1.png) 0 0 / 100%;
    text-align: center;
}
