.tilePlayer {
    background: url(/assets/img/title-background-1.png) 0 0 / 100%;
    min-width: 100px;
    min-height: 28px;
    text-transform: uppercase;
    position: relative;
}
.tilePlayer > div:first-child {
    line-height: 28px;
    font-size: 14px;
    text-align: center;
}
.tilePlayer > div:last-child {
    position: absolute;
    width: 32px;
    height: 32px;
    line-height: 35px;
    font-size: 15px;
    right: -17px;
    top: -3px;
    background: url(/assets/img/units-background-1.png) 0 0 / 100%;

    text-align: center;
}
/* .tilePlayer.neutral {
    background-image: url(/assets/img/title-background-0.png);
}
.tilePlayer.neutral > div:last-child {
    display: none;
} */

.tilePlayer:first-child {
    transform: scale(1.2);
}

.tilePlayer:first-child.color1 {
    /* background: url(/assets/img/icon-power.png) no-repeat 4px 4px / auto 16px,
        url(/assets/img/title-background-1.png) 0 0 / 100%; */
}
.tilePlayer:first-child.color2 {
    /* background: url(/assets/img/icon-power.png) no-repeat 4px 4px / auto 16px,
        url(/assets/img/title-background-2.png) 0 0 / 100%; */
}

.tilePlayer.color1 {
    background-image: url(/assets/img/title-background-1.png);
}
.tilePlayer.color1 > div:last-child {
    background-image: url(/assets/img/units-background-1.png);
}

.tilePlayer.color2 {
    background-image: url(/assets/img/title-background-2.png);
}
.tilePlayer.color2 > div:last-child {
    background-image: url(/assets/img/units-background-2.png);
}

.tilePlayer.color3 {
    background-image: url(/assets/img/title-background-3.png);
}
.tilePlayer.color3 > div:last-child {
    background-image: url(/assets/img/units-background-3.png);
}

.tilePlayer.color4 {
    background-image: url(/assets/img/title-background-4.png);
}
.tilePlayer.color4 > div:last-child {
    background-image: url(/assets/img/units-background-4.png);
}

.recruitmentPower {
    text-align: center;
    padding-top: 5px;
}
.recruitmentPower > div {
    display: inline-block;
    font-size: 24px;
    background: url(/assets/img/icon-power.png) no-repeat -3px 0 / auto 25px;
    padding-left: 24px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
}
.troopsUnits {
    width: 32px;
    height: 32px;
    line-height: 35px;
    font-size: 15px;
    background: url(/assets/img/units-background-1.png) 0 0 / 100%;
    text-align: center;
}
